  <h1>Order History</h1>
  
<table style="width:75%">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Order Total</th>
  </tr>
  <tr>

    <% @trips.each do |trip|%>
    <% if trip.user%>
    <td><%=  trip.date.strftime("%m/%d/%y, %l:%M %p") %></td>

    <td><%= link_to trip.user.named, user_path(trip.user) %></td>
    <td><%= number_to_currency(trip.total) %></td>
  </tr>
  < <% end %>
  <% end %>
</table>
