<h1>Order History</h1>

<%# sum_of_totals = 0 %>
<table style="width: 75%;">
  <tr>
    <th style="text-align: left;">Date</th>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Order Total</th>
  </tr>
  <% @trips.each do |trip|%>
    <tr>
      <% if trip.user%>
        <td><%=  trip.date.strftime("%m/%d/%y, %l:%M %p") %></td>
        <td><%= link_to trip.user.named, user_path(trip.user) %></td>
        <%  @trip_total = trip.total %>
        <% @sum_of_totals+= @trip_total %>
        <td><%= number_to_currency(@trip_total) %></td>
      <% end %>
    </tr>
  <% end %>

  Total: <%# Trip.admin_total %><%= @sum_of_totals %>

</table>
