<h1>Order History</h1>
<table style="width: 75%;">
  <tr>
    <th style="text-align: left;">Date</th>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Order Total</th>
  </tr>
  <% @trips.each do |trip|%>
    <tr>
      <% if trip.user%>
        <td><%=  trip.date.strftime("%m/%d/%y, %l:%M %p") %></td>
        <td><%= link_to trip.user.named, user_path(trip.user) %></td>
        <td><%= number_to_currency(trip.total) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
