<h1>Customer List</h1>

<% @users.each do |c| %>
    <% if !c.admin %>
  Name: <%= c.named %> <br>

  Email: <%= c.email %> <br>
  <%if c.trips %>
  <%# binding.pry %>
  Orders: <br>
  <% c.trips.each do |trip| %>
    Date: <%= link_to (trip.date).strftime("%m/%d/%Y"), user_trip_path(c.id, trip.id) %>
    Total: <%= trip.total  %> <br>
    <%# order.comment %>
    <% end %>
    <% end %>
    <hr>
    <% end %>
  <% end %>
