

<%= form_for @meal, :html=> { class: 'form-meal' } do |f| %>
<p class="form-title">Add New Meal</p>
<%= render 'form', :f => f %>

<% end %>

<div id="mealResult" style="text-align: center">
  <!-- <h2 id="mealName"></h2>
  <p id="mealDescription"></p>
  <p id="mealPrice"></p>
  <p id="mealCals"></p>
  <p id="mealCategory"></p> -->
</div>
