* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  /* background: #9b9fa5; */
  /* color: #444; */
}

li {
  margin: 0 8px;
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
}

li a:hover {
  text-decoration: underline;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: inherit;
  /* background-color: #23a1af; */
}

div.logo {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

div.logo a {
  font-size: 1.8em;
}

nav {
  /* padding: 30px 0; */
  padding-bottom: 30px;
  text-align: center;
}

img {
  width: 50%;
  height: 350px;
  object-fit: cover;
  margin: auto;
  display: block;
}

div.social-links {
  margin-top: 20px;
  padding: 30px 0;
  text-align: center;
}

div.social-links a {
  margin: 0 8px;
  position: relative;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
}

div.social-links a:hover {
  bottom: 5px;
}

/* div.alert{
  background-color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
} */

/* header::after {
  content: '';
  display: table;
  clear: both;
} */

/* .logo {
  float: left;
  padding: 10px 0;
} */




/*
nav ul{
  margin: 25px, 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover, a:active{
  color: black;
}

h1{
  /* float: left; *-/
  align: center;
} */

 /* a:link, a:visited, .nav { */
  /* display: block; */
  /* width: 100px; */
  /* background-color: #d2d5db;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px; */

/* } */



/* .home{
  width: 100px;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
} */
